body {
    font-family: Arial, sans-serif;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid #000000;
    padding: 8px;
}
th {
    background-color: #ef3232;
    color: white;
}
ul {
    margin: 0;
    padding: 0;
}
