* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    margin-top: 50px;

}

html, body {
    height: 100%;
    margin: 0;
}

.content-container {
    display: flex;
    height: 100%;
}

.content {
    background-color: #fff;
    height: 100%;
    display: none;
}


header {
    width: 100%;
    background-color: #A4123F;
    color: #fff;
    height: 50px;
    position: fixed;
    top: 0;
    padding: 10px;
    display: flex;
    align-items: center;
    position: fixed;
}

.header-button {
    padding: 10px;
    margin-left: 20px;
    background-color: #A4123F;
    color: #fff;
    transition: background-color 0.3s ease;
    font-family: 'Kanit', sans-serif;
    font-size: large;
    border: none;
    display: inline-flex;
    float: right;
}
.header-butto {
    padding: 10px;
    margin-left: 10px;
    height: 40px;
    background-color: #A4123F;
    color: #fff;
    transition: background-color 0.3s ease;
    font-family: 'Kanit', sans-serif;
    font-size: small;
    border-radius: 2px;
    border: none;
}

.header-button:hover {
    background-color: #b5204d;
    border-radius: 20px;
}
.header-butto:hover {
    background-color: #b5204d;
    cursor: pointer ;
}
#menu-icon {
    cursor: pointer;
    font-size: 24px;
    color: #fff;
    padding: 10px;
    display: none;
}

.rightmost {
    margin-right: auto;
    margin-left: 30px;
    height: 50px;
    float: right;
}

.dropdown {
    display: inline-block;
}

.dropbtn {
     /* background-color: #3498db; */
     background: none;
     color: white;
     padding: 10px;
     font-size: large;
     border: none;
     cursor: pointer;
     margin-left: 20px;
     font-family: 'Kanit', sans-serif;
     transition: transform 0.3s ease; 
}

.dropbtn:hover, .dropbtn:focus {
    /* background-color: #4b49a4; */
    /* transform: scale(1.23); */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #A4123F;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 28px;
}

.dropdown-content input {
    color: #fff;
    padding: 10px;
    text-decoration: none;
    display: block;
}

/* .dropdown-content input:hover {
    background-color: #4b49a4;
} */

.dropdown:hover .dropdown-content {
    display: block;
}

#fee,
#course_registration,
#feedback,
#settings {
    padding: 50px;
    background-color: #fff;
    display: none;
}


#profile {
    background-color: #fff;
    display: none;
    width: 100%;
    height: 100%;
    font-family: 'Kanit', sans-serif;
}

#profilepage {
    padding: 20px;
    background-color: #b5204d;
    color: #fff;
    height: 100%;
    width: 300px;
    display: flex;
    font-family: 'Kanit', sans-serif;
    flex-direction: column;
    align-items: center;
    float: left;
    position: fixed;
    margin-top: 50px;
}

#profilepage table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}



#profilepage th, #profilepage td {
    padding: 10px;
    text-align: left;
}

#profilepage th {
    background-color: #A4123F;
    color: #fff;
}
#profilecontent {
    padding: 50px;
    color: #000000;
    height: 100%;
    width: calc(100% - 300px);
    display: flex;
    flex-direction: column;
    float: right;

}
#profilecontent table {

    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #ffffff;
}

#profilecontent table, #profilecontent th, #profilecontent td {
    border: 1px solid #000000;
}

#profilecontent th, #profilecontent td {
    padding: 10px;
    text-align: left;
}

#profilecontent th {
    padding: 10px;
    text-align: left;
    background-color: #A4123F;
    color: #fff;
    border: 0px;
}


#profilepage2 {
    padding: 50px;
    color: #fff;
    display: none;
    flex-direction: column;
}
#profilepage2 table {

    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #A4123F;
}



#profilepage2 th, #profilepage2 td {
    padding: 10px;
    text-align: left;
}

#profilepage2 th {
    padding: 10px;
    text-align: left;
    background-color: #A4123F;
    color: #fff;
    border: 0px;
}


#academics
{
    font-family: 'Kanit', sans-serif;
    padding : 50px;
    background-color: #fff;
    display: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    
}

#academics table {

    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #ffffff;
}

#academics table, #academics th, #academics td {
    border: 1px solid #000000;
}

#academics th, #academics td {
    padding: 10px;
    text-align: left;
}

#academics th {
    padding: 10px;
    text-align: left;
    background-color: #A4123F;
    color: #fff;
    border: 0px;
}

.accordion-header{
    background-color: #A4123F;
    padding: 10px;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    justify-items: center;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    width: 100%;
}


.accordion-table {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto; /* Center the table horizontally */
}

#placements
{
    font-family: 'Kanit', sans-serif;
    padding : 50px;
    background-color: #fff;
    display: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    
}

#placements table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #ffffff;
}

#placements table, #placements th, #placements td {
    border: 1px solid #000000;
}

#placements th, #placements td {
    padding: 10px;
    text-align: left;
}

#placements th {
    padding: 10px;
    text-align: left;
    background-color: #A4123F;
    color: #fff;
    border: 0px;
}


#fee
{
    font-family: 'Kanit', sans-serif;
    padding : 50px;
    background-color: #fff;
    display: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    
}

#fee table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #ffffff;
}

#fee table, #fee th, #fee td {
    border: 1px solid #000000;
}

#fee th, #fee td {
    padding: 10px;
    text-align: left;
}

#fee th {
    padding: 10px;
    text-align: left;
    background-color: #A4123F;
    color: #fff;
    border: 0px;
}

#help_desk
{
    font-family: 'Kanit', sans-serif;
    padding : 50px;
    background-color: #fff;
    display: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    
}
#help_desk table {

    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #ffffff;
}

#help_desk table, #help_desk th, #help_desk td {
    border: 1px solid #000000;
}

#help_desk th, #help_desk td {
    padding: 10px;
    text-align: left;
}

#help_desk th {
    padding: 10px;
    text-align: left;
    background-color: #A4123F;
    color: #fff;
    border: 0px;
}

#settings
{
    font-family: 'Kanit', sans-serif;
    padding : 50px;
    background-color: #fff;
    display: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    
}
#settings table {

    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #ffffff;
}

#settings table, #settings th, #settings td {
    border: 1px solid #000000;
}

#settings th, #settings td {
    padding: 10px;
    text-align: left;
}

#settings th {
    padding: 10px;
    text-align: left;
    background-color: #A4123F;
    color: #fff;
    border: 0px;
}

#course_registration
{
    font-family: 'Kanit', sans-serif;
    padding : 50px;
    background-color: #fff;
    display: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    
}
#course_registration table {

    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #ffffff;
}

#course_registration table, #course_registration th, #course_registration td {
    border: 1px solid #000000;
}

#course_registration th, #course_registration td {
    padding: 10px;
    text-align: left;
}

#course_registration th {
    padding: 10px;
    text-align: left;
    background-color: #A4123F;
    color: #fff;
    border: 0px;
}

#feedback
{
    font-family: 'Kanit', sans-serif;
    padding : 50px;
    background-color: #fff;
    display: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    
}
#feedback table {

    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #ffffff;
}

#feedback table, #cfeedback th, #feedback td {
    border: 1px solid #000000;
}

#feedback th, #feedback td {
    padding: 10px;
    text-align: left;
}

#feedback th {
    padding: 10px;
    text-align: left;
    background-color: #A4123F;
    color: #fff;
    border: 0px;
}

@media screen and (max-width: 850px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #A4123F;
    }
    #menu-iconss {
        display: none;
    }
    #header-buttons {
        display: inline;
        flex-direction: column;
        position: absolute;
        top: 50px;
        right: 0;
        background-color: #A4123F;
    }
    #menu-icon {
        cursor: pointer;
        font-size: 24px;
        color: #fff;
        padding: 10px;
        display: flex;
    }

    #header-buttons button {
        background-color: #A4123F;
        color: #fff;
        transition: background-color 0.3s ease;
        font-family: 'Kanit', sans-serif;
        font-size: large;
        border: none;
        padding: 10px;
        margin: 5px;
    }
    .header-button:hover{
        border-radius: 0px;
    }

    #header-buttons button:hover {
        background-color: #A4123F;
    }
    #profilepage{
        display: none;
    }
    #profilepage2{
        margin-top: 60px;
        padding-bottom: 10px;
        display: flex;
        background-color: #A4123F;
    }
    #profilecontent{
        width: 100%;
    }
    #profile,
    #academics,
    #fee,
    #course_registration,
    #help_desk,
    #placements,
    #feedback,
    #settings {
    background-color: #fff;
    margin: 10px;
    padding-right: 20px;
    }
}